In [2]:
import pandas as pd

citibike_data = pd.read_csv('./data/citibike-tripdata.csv', sep=',')

In [3]:
citibike_df = citibike_data.copy()

In [4]:
citibike_df.head(10)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
5,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,21693,Subscriber,1977,2
6,2018-09-01 00:00:27.2780,2018-09-01 00:04:20.7420,3526.0,31 St & 23 Ave,40.774788,-73.912555,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,29789,Subscriber,1989,1
7,2018-09-01 00:00:31.4250,2018-09-01 00:05:17.4110,358.0,Christopher St & Greenwich St,40.732916,-74.007114,405.0,Washington St & Gansevoort St,40.739323,-74.008119,32861,Subscriber,1991,1
8,2018-09-01 00:00:30.9660,2018-09-01 00:19:18.4710,285.0,Broadway & E 14 St,40.734546,-73.990741,405.0,Washington St & Gansevoort St,40.739323,-74.008119,25039,Subscriber,1982,1
9,2018-09-01 00:00:42.1670,2018-09-01 00:07:45.6770,319.0,Fulton St & Broadway,40.711066,-74.009447,426.0,West St & Chambers St,40.717548,-74.013221,20508,Subscriber,1974,2

##### пропуски в столбце start station id
##### Какой тип данных имеют столбцы starttime и stoptime?

In [5]:
display(citibike_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

##### Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [6]:
citibike_df['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

##### Велосипед с каким идентификатором является самым популярным?

In [7]:
citibike_df['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

##### Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [8]:
subscriber = citibike_df[(citibike_df['usertype'] == 'Subscriber')]['usertype'].count() / citibike_df['usertype'].count()
customer = citibike_df[(citibike_df['usertype'] == 'Customer')]['usertype'].count() / citibike_df['usertype'].count()
round([customer, subscriber][subscriber > customer], 2)

/var/folders/xq/d6v04d_s3t518_2dnqmn1jsr0000gn/T/ipykernel_24314/596069872.py:3: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  round([customer, subscriber][subscriber > customer], 2)

0.77

##### Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [9]:
citibike_df['gender'].value_counts().max()

183582

In [10]:
['no', 'yes'][citibike_df['start station id'].nunique() == citibike_df['end station id'].nunique()]

'no'

In [11]:
citibike_df['birth year'].max()

2002

In [12]:
citibike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

##### В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [13]:
#citibike_df = citibike_df.drop(['start station name', 'end station name'], axis=1)
len(citibike_df.columns)

14

##### Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [14]:
#citibike_df['birth year'].head()
citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df.drop(['birth year'], axis=1)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [15]:
citibike_df[(citibike_df['age']>60)]['age'].count()

11837

##### Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [16]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip duration'] = (citibike_df['stoptime'] - citibike_df['starttime'])

In [17]:
citibike_df['trip duration'][3]

Timedelta('0 days 00:07:16.837000')

##### Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [18]:
citibike_df['weekend'] = citibike_df['starttime'].dt.dayofweek.apply(lambda x: [0, 1][x in [5, 6]])
#display(citibike_df['starttime'].dt.dayofweek.apply(lambda x: [0, 1][x in [5, 6]]))
citibike_df['weekend'].sum()

115135

In [19]:
hours = citibike_df['starttime'].dt.hour
times = {'night': (0, 6), 'morning': (7, 12), 'day': (13, 18), 'evening': (19, 23)}

def get_time_of_day(x):
    for key, val in times.items():
        if x in range(val[0], val[1]+1):
            return key
    return None
citibike_df['time_of_day'] = [get_time_of_day(x) for x in hours]

In [20]:
citibike_df['time_of_day'].head()

0    night
1    night
2    night
3    night
4    night
Name: time_of_day, dtype: object

In [21]:
citibike_df[(citibike_df['time_of_day'] == 'day')]['time_of_day'].count() / citibike_df[(citibike_df['time_of_day'] == 'night')]['time_of_day'].count()

9.480411004308916