In [2]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [3]:
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [3]:
melb_df = melb_data.copy()

In [4]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)]['WeekdaySale'].count()
display(weekend_count)

/var/folders/xq/d6v04d_s3t518_2dnqmn1jsr0000gn/T/ipykernel_37412/3425420782.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  melb_df['Date'] = pd.to_datetime(melb_df['Date'])

9226

In [4]:
melb_data.tail(10)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
13570,13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,...,2.0,674.0,126.0,1970.0,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0,"-37.8836, 145.22805"
13571,13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,...,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0,"-37.86887, 145.22116"
13572,13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,...,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0,"-37.70657, 145.07878"
13573,13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0,"-37.89327, 144.64789"
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,256.0,126.0,1970.0,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,"-37.67917, 144.8939"
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

In [5]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [6]:
melb_data['Type'].value_counts().loc['t']

1114

In [7]:
melb_data['Type'].value_counts().loc['t']/sum(melb_data['Type'].value_counts())

0.08203240058910162

In [15]:
melb_data['Rooms'].mode()

0    3
Name: Rooms, dtype: int64

In [17]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [16]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [11]:
median = melb_data['BuildingArea'].median() 
mean =  melb_data['BuildingArea'].mean()
print(abs(median - mean)/mean)

0.09764079662364533

In [13]:
moda = pd.DataFrame({
    'data': [1, 2, 4, 2, 3, 2, 1, 5, 6]
})
moda.mode()

   data
0     2

In [20]:
mask = melb_data['Price'] > 2000000
display(melb_data[mask].head(20))

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,3206,3.0,2.0,0.0,211.0,198.0,1890.0,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499"
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,3206,4.0,2.0,1.0,153.0,180.0,1880.0,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523"
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,3206,2.0,1.0,1.0,199.0,107.0,1900.0,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554"
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,3206,3.0,2.0,1.0,177.0,181.0,1880.0,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585"
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,3206,5.0,2.0,1.0,237.0,126.0,1970.0,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557"
97,97,Albert Park,70 Barrett St,3,h,2575000.0,S,Greg,15/10/2016,3.3,3206,3.0,2.0,1.0,228.0,126.0,1970.0,Port Phillip,-37.8445,144.9501,Southern Metropolitan,3280.0,"-37.8445, 144.9501"
102,102,Albert Park,97 Page St,3,h,3010000.0,S,Greg,18/03/2017,3.3,3206,3.0,2.0,0.0,147.0,146.0,1890.0,Port Phillip,-37.8473,144.9551,Southern Metropolitan,3280.0,"-37.8473, 144.9551"
103,103,Albert Park,55 Withers St,4,h,2800000.0,VB,Cayzer,18/06/2016,3.3,3206,4.0,3.0,1.0,327.0,254.0,1910.0,Port Phillip,-37.8467,144.9475,Southern Metropolitan,3280.0,"-37.8467, 144.9475"
105,105,Albert Park,55 Merton St,3,h,2100000.0,SP,Marshall,23/04/2016,3.3,3206,2.0,1.0,1.0,120.0,123.0,1900.0,Port Phillip,-37.8427,144.9546,Southern Metropolitan,3280.0,"-37.8427, 144.9546"
108,108,Albert Park,115 Page St,4,h,4735000.0,S,Marshall,25/02/2017,3.3,3206,4.0,2.0,1.0,330.0,207.0,1910.0,Port Phillip,-37.8477,144.9558,Southern Metropolitan,3280.0,"-37.8477, 144.9558"
112,112,Albert Park,22 Greig St,3,h,3755000.0,S,Greg,26/07/2016,3.3,3206,3.0,2.0,2.0,325.0,126.0,1970.0,Port Phillip,-37.8413,144.9500,Southern Metropolitan,3280.0,"-37.8413, 144.95"
113,113,Albert Park,27 Barrett St,4,h,2140000.0,S,Greg,27/06/2016,3.3,3206,3.0,2.0,1.0,183.0,145.0,1880.0,Port Phillip,-37.8434,144.9495,Southern Metropolitan,3280.0,"-37.8434, 144.9495"
116,116,Albert Park,227a Danks St,3,h,2030000.0,S,hockingstuart,28/08/2016,3.3,3206,3.0,2.0,0.0,152.0,126.0,1970.0,Port Phillip,-37.8488,144.9551,Southern Metropolitan,3280.0,"-37.8488, 144.9551"
118,118,Albert Park,74 Bridport St,3,h,2800000.0,VB,Buxton,30/07/2016,3.3,3206,3.0,3.0,1.0,0.0,126.0,1970.0,Port Phillip,-37.8399,144.9577,Southern Metropolitan,3280.0,"-37.8399, 144.9577"
124,124,Alphington,83 Fulham Rd,5,h,2840000.0,S,Nelson,12/06/2016,6.4,3078,5.0,4.0,4.0,809.0,165.0,1910.0,Darebin,-37.7750,145.0268,Northern Metropolitan,2211.0,"-37.775, 145.0268"
132,132,Alphington,38 Bennett St,4,h,2100000.0,S,Nelson,19/11/2016,6.4,3078,4.0,2.0,2.0,575.0,271.0,2008.0,Darebin,-37.7723,145.0319,Northern Metropolitan,2211.0,"-37.7723, 145.0319"
231,231,Armadale,12 Willis St,3,h,2050000.0,S,Marshall,4/03/2017,6.3,3143,3.0,2.0,1.0,205.0,116.0,1910.0,Stonnington,-37.8574,145.0281,Southern Metropolitan,4836.0,"-37.8574, 145.0281"
233,233,Armadale,11/17 Myamyn St,2,u,3625000.0,S,Jellis,4/06/2016,6.3,3143,3.0,2.0,2.0,0.0,126.0,2006.0,Stonnington,-37.8555,145.0291,Southern Metropolitan,4836.0,"-37.8555, 145.0291"
234,234,Armadale,526 Orrong Rd,4,h,3000000.0,VB,Jellis,4/06/2016,6.3,3143,4.0,2.0,2.0,1581.0,126.0,1934.0,Stonnington,-37.8580,145.0111,Southern Metropolitan,4836.0,"-37.858, 145.0111"
246,246,Armadale,35 Northcote Rd,4,h,2801000.0,S,Marshall,12/11/2016,6.3,3143,4.0,2.0,2.0,624.0,222.0,1900.0,Stonnington,-37.8536,145.0173,Southern Metropolitan,4836.0,"-37.8536, 145.0173"

In [26]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [61]:
melb_data[(melb_data['Price'] < 3e6) & (melb_data['Type'] == 'h')]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object