In [2]:
import pandas as pd

In [3]:
student_data = pd.read_csv('./data/students_performance.csv', sep=',')

In [8]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
student_data.shape

(1000, 8)

In [27]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [15]:
student_data.describe(include=object).count()

gender                         4
race/ethnicity                 4
parental level of education    4
lunch                          4
test preparation course        4
dtype: int64

In [16]:
student_data['math score'].mean()

66.089

In [18]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [35]:
student_data[(student_data['math score'] == 90)].count()

gender                         8
race/ethnicity                 8
parental level of education    8
lunch                          8
test preparation course        8
math score                     8
reading score                  8
writing score                  8
dtype: int64

In [39]:
[False, student_data[(student_data['lunch'] == 'standard')]['math score'].mean()][student_data[(student_data['lunch'] == 'standard')]['math score'].mean() > student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean()]

/var/folders/xq/d6v04d_s3t518_2dnqmn1jsr0000gn/T/ipykernel_13849/254567879.py:1: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  [False, student_data[(student_data['lunch'] == 'standard')]['math score'].mean()][student_data[(student_data['lunch'] == 'standard')]['math score'].mean() > student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean()]

70.03410852713178

In [49]:
student_data[(student_data['parental level of education'] == 'bachelor\'s degree')].shape[0]/student_data.shape[0]

0.118

In [51]:
student_data[(student_data['race/ethnicity'] == 'group A')]['writing score'].median()-student_data[(student_data['race/ethnicity'] == 'group C')]['writing score'].mean()

-5.827586206896555